* {
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

img.small {
	max-width: 10rem;
	width: 100%;

}

button {
	padding: 0.3rem;
	border: 0.1rem #404040 solid;
	background-color: #f0c040;
	width: 100%;
	cursor: pointer;
}

button.add {
	background-color: #40c0f0;
	width: 1.5rem;
}
button.remove {
	background-color: #40c0f0;
	width: 1.5rem;
}

.p-1 {
	padding: 1rem;
}
button.badge {
	background-color: #f04040;
	border: none;
	color: #ffffff;
	width: 1.5rem;
}

.card {
	background-color: #f6eda6;
	padding: 1rem;
	margin: 0.5rem;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.col-1{
	flex-basis: 100%;
}

.col-2{
	flex-basis: 100%;
}

@media screen and (min-width: 800px) {
	.col-1 {
		flex: 1;
	}

	.col-2 {
		flex: 2;
	}
}

.block {
	background-color: #bc8dfb;
	padding: 1rem;
	margin: 0.5rem;
}